<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Team</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body>
    <header class="block">
        <section class="hero has-text-centered is-light">
            <div class="hero-body">
                <h1 class="title is-size-1">My Team</h1>
            </div>
        </section>
    </header>
    <main class="block">
        <div class="container">
            <div class="columns is-multiline is-centered">
                {{ team }}
            </div>

        </div>
    </main>
</body>

</html>
