<div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
    <div class="card">
        <div class="card-header has-background-light">
            <h2 class="card-header-title is-size-4">{{ name }}</h2>
        </div>
        <div class="card-header has-background-light">
            <h3 class="card-header-title has-text-weight-light is-size-4" style="padding-top: 0px;"><i class="fas fa-mug-hot" style="margin-right: 0.5em;"></i>{{ role }}</h3>
        </div>
        <div class="card-content">
            <ul class="list is-hoverable">
                <li class="list-item has-text-weight-medium">ID: {{ id }}</li>
                <li class="list-item has-text-weight-medium">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
                <li class="list-item has-text-weight-medium">Office Number: {{ officeNumber }}</li>
            </ul>
        </div>
    </div>
</div>